<app-navbar></app-navbar>
<div class="container">
    <mat-card>
        <div class="image-container">
            <img class ="image" mat-card-image src="{{product.image}}" alt="{{product.title}}">
            
        </div>
        <div class="details-container">
            <h3><strong>{{product.title}}</strong></h3>
            <span><strong i18n>Price:</strong> {{ product.price | currency: "en-ES" }}</span>
            <p><strong i18n>Category:</strong> {{product.category}}</p>
            <p><strong i18n>Rating:</strong> {{product.rating.rate}}</p>
            <p><strong i18n>Description:</strong> {{product.description}}</p>
        </div>
    </mat-card>  
    
</div>
