<app-navbar></app-navbar>
<div class="container">
    <div class="products" >
        <mat-card *ngFor="let product of products">
            <div class="image-container">
                <img class ="image" mat-card-image src="{{product[1].image}}" alt="{{product[1].title}}">
                
            </div>
            <div class="details-container">
                <h3>{{product[1].title}}</h3>
                <p><strong>Quantity: </strong>{{product[1].quantity}}</p>
                <p><strong>Price: </strong>{{product[1].price | currency:'USD'}}</p>
            </div>
        </mat-card>
    </div>
</div>