.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 86vh;
    width: 100%;
    margin: 0 auto;
    margin-top: 2%;
    overflow-y: auto;
    gap: 5px;
    
}

.products {
    width: 55%;
    padding-left: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

mat-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    text-align: center;
    height: 200px;
}

.image-container {
    width: 20%;
    height: 100%;
}

.details-container {
    width: 30%;
    text-align: left;
}

.image {
    width: 100%;
    height: 70%;
    object-fit: contain;

}

.checkout-main {
    width: 35%;
    padding-right: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.checkout {
    width: 40%;
    height: 40%;
    margin-top: 20%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}