<div class="container">
    <div class="products" >
        <mat-card *ngFor="let product of products">
            <div class="image-container">
                <img class ="image" mat-card-image src="{{product[1].image}}" alt="{{product[1].title}}">
                
            </div>
            <div class="details-container">
                <h3>{{product[1].title}}</h3>
                <span>{{product[1].price | currency:'USD'}}</span>
            </div>
        </mat-card>
    </div>
    <div class="checkout-main">
        <div class="checkout">

            <app-custom-button>Checkout</app-custom-button>
        </div>
    </div>
</div>