.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70px;
}

input{
    background-color: white;
}