.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("src/assets/images/shop-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: aqua; */
}

mat-card{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    background-color: rgb(255, 255, 255, 0.9);
    position: relative;
    
    /* color: white; */
}
.spinner {
    position: absolute;
    left: 40%;
    top: 30%;
}

mat-card-content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    background-color: white;

}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
}